.content-step01{
  width: 63.5%;
  margin: 0 auto;
  ol {
    padding:0;
    margin: 0 auto;
  }
  li {
    width: 100%;
    margin: 20px auto;
  }
}
.line{
  width: 65%;
  margin: 15px auto;
}
.sub-tilt p{
  margin: 0;
}