.content-step01{
  width: 63.5%;
  margin: 0 auto;
  ol {
    padding:0;
    margin: 0 auto;
  }
  li {
    width: 100%;
    margin: 20px auto;
  }

}
.line{
  width: 65%;
  margin: 15px auto;
}
.footer-text{
  text-align: center;
  font-size: 13px;
  color: #4d64ad;
  border-bottom: 1px solid #d4d4d4;;
}
.footer-content{
    width: 72%;
    margin: 15px auto;
}
.footer-text a{
  color: #4d64ad;
}
.footer-text p{
  color: black;
}
.footer-text span{
  padding: 0 10px;
}
.border-line{
  border-right: 1px solid black;
}